body {
    background-color: rgb(117,195,191);
    background: linear-gradient(rgb(117,195,191) 0%, rgb(48,117,142) 100%);
}

.container {
    height: 100vh;
}

.btn {
    color: white;
    background-color: orange;
}

.round {
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    border: none;
    background-color: #FFFFFF;
    
}

.info {
    text-align: center;
    background-color: white;
}

#turno {
    color: red;
}